# Exclude Espresso files
*.esproj
 
# Exclude the .htaccess file
.htaccess
 
# Exclude any CC source files
.psd
.ai
 
# Exclude OS and editor files and folders
*.esproj
*.sublime-project
*.sublime-workspace
.cache
.DS_Store
.tmproj
nbproject
Thumbs.db
_notes
dwsync.xml
 
# Exclude text files
*.txt
 
# Except read me
!README.txt
 
# Exclude log files
*.log
 
# Exclude fonts
_fonts/ 
